<p>
  Please, <b>enter here the
  <%= link_to('link', '#', class: 'preview-popover',
              'data-content' => "#{image_tag('preview_copy_link.png')}") %>
  to your UG schedule</b>:
</p>
<%= form_tag('/', :method => 'get') do %>
    <%= text_field_tag(:link, @link, class: 'form-control',
                       :placeholder =>
                               'http://ug3.technion.ac.il/rishum/weekplan.php?RGS=...') %>
    <br>
    <%= submit_tag('Generate file content for schedule',
                   :class => 'btn btn-primary',
                   data: {disable_with: 'Generating content. Please wait...'}) %>
    <%= submit_tag('Generate file content for exams',
                   :class => 'btn btn-primary',
                   data: {disable_with: 'Generating content. Please wait'}) %>
<% end %>

<br>

<%= form_tag('/save_csv', :method => 'post') do %>
    <!--<%= label_tag(:csv_content, 'Generated content:') %>-->
    <% lines_in_csv_content =
               @csv_content.nil? ? 2 : [10,@csv_content.count("\n")].min; %>
    <%= text_area_tag(:csv_content, @csv_content,
                      :placeholder =>
                              'Here you will get a content in CSV format, so (if you need) you can edit it manually before saving it to file',
                      # 1x is for passing http://validator.w3.org
                      :size => "1x#{lines_in_csv_content}",
                      class: 'form-control')
    %>
    <br>
    <%= submit_tag('Save the content to the CSV file',
                   :class => 'btn btn-primary') %>
<% end %>

<br>

<p>
  What's next?<br>
  Import the created file to your calendar (use links below to learn how) and
  enjoy it!
</p>

<a href="https://support.google.com/calendar/answer/37118?hl=en">
  How to import events from CSV file to Google Calendar
</a>
<br>
<a href="http://office.microsoft.com/en-001/outlook-help/import-contacts-from-an-excel-spreadsheet-HA102919779.aspx">
  How to import events from CSV file to Microsoft Outlook
</a>
<br>
<a href="https://www.google.com/search?q=how+to+import+csv+file+to">
  Search with google 'how to import CSV file to'
</a>
