<!DOCTYPE html>
<html>
<head>
  <!-- improves the presentation of web pages on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--<% app_name = Rails.application.class.parent %>-->
  <% app_name = 'saveUGschedule2calendar' %>

  <meta charset="utf-8"/> <!-- for passing http://validator.w3.org -->
  <!-- property tags are for facebook page markup -->
  <meta property="og:url" content="https://saveugschedule2calendar.herokuapp.com/">
  <meta property="og:title" content=<%= app_name %>>
  <meta name="description" property="og:description"
        content="Add your UG schedule and exams to the calendar with several clicks" >

  <title><%= app_name %></title>

  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/analytics' %>
</head>

<body>
<div class="container">
  <header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to app_name, root_path, class: 'navbar-brand' %>
        </div>
      </div>
    </nav>
  </header>

  <main role="main">
    <%= yield %>
  </main>

  <footer>
    <hr>
    This project is an open source and you are welcome to contribute
    <a href="https://github.com/ushastikin/<%= app_name %>">here</a>
    <br>
    You can also contact the developer via
    <a href="mailto:<%= app_name %>@gmail.com"><%= app_name %>@gmail.com</a>
  </footer>
</div>
</body>
</html>
